* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero {
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.1);
}

.hero,
.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}