* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    transition: all 0.3s ease;
}

body {
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    height: 25%;
    max-width: 600px;
    max-height: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(37, 37, 37, 0.2);
}

h1 {
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 8px;
}

.inputs {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    gap: 10px; /* Add spacing between elements */
    align-items: center; /* Center items horizontally */
}

.user-number {
    background-color: #ececec;
    border: none;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    outline: none;
    width: 100%; /* Stretch button to full width of parent */
}

.user-number:hover {
    background-color: #dddddd;
}

.user-number:focus{
    box-shadow: 0 4px 12px rgba(37, 37, 37, 0.2);
    scale: 1.05;
}

.check-palindrome {
    background-color: #303030;
    color: #ececec;
    border: none;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 12px;
    outline: none;
    width: 100%; /* Stretch button to full width of parent */
    margin-bottom: 0;
}

.check-palindrome:hover {
    scale: 1.05;
    background-color: black;
    color: white;
}

.check-palindrome:active {
    opacity: 0.6;
}

.input-result {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 12px;
}